@model PostModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="PublishDate" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="PublishDate" class="form-control" />
					<span asp-validation-for="PublishDate" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="LastUpdateDate" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="LastUpdateDate" class="form-control" />
					<span asp-validation-for="LastUpdateDate" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Location" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Location" class="form-control" />
					<span asp-validation-for="Location" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Rating" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Rating" class="form-control" />
					<span asp-validation-for="Rating" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="SustainabilityScore" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="SustainabilityScore" class="form-control" />
					<span asp-validation-for="SustainabilityScore" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="ImageURL" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="ImageURL" class="form-control" />
					<span asp-validation-for="ImageURL" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="YouTubeURL" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="YouTubeURL" class="form-control" />
					<span asp-validation-for="YouTubeURL" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="BudgetPerDay" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="BudgetPerDay" class="form-control" />
					<span asp-validation-for="BudgetPerDay" class="text-danger"></span>
				</div>
            </div>
			<div class="row mb-3">
				<label asp-for="InspirationLevel" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="InspirationLevel" class="form-select">
						<option value="1">Low</option>
						<option value="2">Medium</option>
						<option value="3">High</option>
					</select>
					<span asp-validation-for="InspirationLevel" class="text-danger"></span>
				</div>
			</div>
            <div class="row mb-3">
                <label asp-for="Donts" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Donts" class="form-control" />
					<span asp-validation-for="Donts" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="MustDos" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="MustDos" class="form-control" />
					<span asp-validation-for="MustDos" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Currency" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Currency" class="form-control" />
					<span asp-validation-for="Currency" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="MainContent" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="MainContent" class="form-control" />
					<span asp-validation-for="MainContent" class="text-danger"></span>
				</div>
            </div>
			<div class="row mb-3">
				<label asp-for="TagsInput" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="TagsInput" class="form-select select2" asp-items="ViewBag.Tags"></select>
					<span asp-validation-for="TagsInput" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="CategoriesInput" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="CategoriesInput" class="form-select select2" asp-items="ViewBag.Categories"></select>
					<span asp-validation-for="CategoriesInput" class="text-danger"></span>
				</div>
			</div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>




